<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="56691MikeMurphy.EMU7800" Publisher="CN=978124C8-D68F-4C5D-9E10-955C3A49CB93" Version="1.2.0.0" />
  <mp:PhoneIdentity PhoneProductId="031db205-b7b2-49ec-af0f-1470958bf542" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>EMU7800</DisplayName>
    <PublisherDisplayName>Mike Murphy</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="EMU7800.D2D.App">
      <m3:VisualElements DisplayName="EMU7800" Description="An Atari 2600/7800 .NET-based Emulator" BackgroundColor="#000000" ForegroundText="light" ToastCapable="false" Square150x150Logo="Assets\Logo.png" Square44x44Logo="Assets\SmallLogo.png">
        <m3:DefaultTile Wide310x150Logo="Assets\WideLogo.png" Square71x71Logo="Assets\Logo.png">
        </m3:DefaultTile>
        <m3:SplashScreen BackgroundColor="#000000" Image="Assets\SplashScreen.png" />
        <m3:InitialRotationPreference>
          <m3:Rotation Preference="landscape" />
        </m3:InitialRotationPreference>
      </m3:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
    <m2:DeviceCapability Name="humaninterfacedevice">
      <m2:Device Id="any">
        <m2:Function Type="usage:0001 0004" />
      </m2:Device>
    </m2:DeviceCapability>
  </Capabilities>
</Package>